*{
    margin: 0%;
    padding: 0%;
    }
    header{
      
      color:black;
      font-size: 50px;
      text-align: center;
      height: 100px;
    }
    #contenido{
        float: left;
        width: calc(30% - 30px);
        min-height: 500px;
        background: #fff;
        padding: 40px;
        font-size: 20px;
    }
    aside{
        float: left;
        width: calc(70% - 70px);
        min-height: 400px;
       
        padding: 10px;
        color: #fff;
        }

        p{
            text-align: center;
            font-size: 20px;
            
        }